<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wolf Dashboard - <%= wolf.name %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <a href="/">Back</a>
        <h2>This Wolf's Info</h2>
        <div class="wolf-info">
            <h5>Name: <%= wolf.name %></h5>
            <h6>Age: <%= wolf.age %></h6>
            <h6>Fur Color: <%= wolf.fur_color %></h6><br>
            <p><a href="/wolves/edit/<%= wolf._id %>">Edit Wolf</a></p>
            <p><a href="/wolves/destroy/<%= wolf._id %>">Remove Wolf</a></p>
        </div>
    </body>
</html>